/*
!/cli/
!/scripts/
!/README.md
!/pyproject.toml
!/SECURITY.md
!/.gitignore
!/.gitattributes
!/.github/
!/tests/
!/.pre-commit-hooks.yaml
!/.pre-commit-config.yaml
!/CONTRIBUTING.md
!/website/

# Python 构建产物
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Auditize 本地状态
.auditize/

# 开发/系统文件
.vscode/
.idea/
*.swp
.DS_Store
